In [ ]:
total = 100
print("The total is", total)

In [ ]:
total = total + 99
print("The total is now", total)

In [ ]:
total -= 1
print("The total is", total)
total *= 4
print("The total is", total)
total /= 2
print("The total is", total)

In [ ]:
total = 98.2
count = 5

average = total/count
print(average)

In [ ]:

print(type(False))
print(type(1000))
print(type(100.111))
print(type("Hello"))
print(type(True))
print(type(1000/5))
print(type(1000//5))

In [ ]:
#The star operator is multiplying the string 10 times
print("ABC" * 10)

In [ ]:
name ="SWASTIK KUNWAR"
place = "KATHMANDU"
number = 1234567890

print(name)
print(place)
print(number)
print(len(name))

In [ ]:
# The output does not work as python can concactenate string and not integers
age = input("Enter your age")
print("in one year your age will be", age + 1)

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter Second number: "))

print(num1 * num2)

In [ ]:
#The double quote inside the first double quote is not defined
comment = "I would have "thought" you knew better!"
print(comment)

In [ ]:
print("This text includes characters such as \'\\'' \'\"\' and \"\'\", \n\t This is a new line that starts with a tab\n\t\t This new line starts with two tabs ")

In [ ]:
print('\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ \n Hello there! \n \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\' )

In [ ]:
print('''This text spans three lines,
and includes both single ('),
and double quotes (").''')

In [ ]:
surname = "Palin"
initial = surname[2]
print(initial)

In [ ]:
##index error
initial = surname[9]
print(initial)

In [ ]:
initial = surname[-2]
print(initial)

In [ ]:
surname = "Palin"
middle = surname[1:]
print(middle)

In [ ]:
surname = "Palin"
print(surname[:-1])

In [ ]:
primes = [2, 3, 5, 7, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
print(primes[:4])

In [ ]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
names[4:5] = ["Jack", "Jill"]
print(names)

In [ ]:
#5 list of 1,2,3
nums = [1,2,3] * 5
print(nums)